@import "../../style.scss";

.leftBar {
  @include themify($themes) {
    flex: 2;
    position: sticky;
    top: 70px;
    height: calc(100vh - 70px);
    overflow: scroll;
    background-color: themed("bg");
    color: themed("textColor");

    @include mobile {
      display: none;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    .container {
      padding: 20px;

      hr {
        margin: 20px 0px;
        border: none;
        height: 0.5px;
        background-color: themed("border");
      }

      .menu {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .top {
          display: flex;
          align-items: center;
          justify-content: center;

          .card {
            display: flex;
            align-items: center;
            cursor: pointer;

            &:hover {
              -webkit-box-shadow: 0px 0px 25px 2px rgba(10, 10, 10, 0.09);
              -moz-box-shadow: 0px 0px 25px 2px rgba(10, 10, 10, 0.09);
              box-shadow: 0px 0px 25px 2px rgba(10, 10, 10, 0.09);
            }

            .userProfile {
              width: 50%;
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;

              img {
                width: 60px;
                height: 60px;
                border-radius: 10%;
                object-fit: cover;
              }
            }

            .userNames {
              width: 50%;
              height: 100%;
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              justify-content: center;

              .name {
                font-size: 14px;
                font-weight: 600;
              }

              .userName {
                color: themed("textColorSoft");
              }

            }
          }
        }

        span {
          font-size: 12px;
        }

        .user {
          display: flex;
          align-items: center;
          gap: 10px;

          img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            object-fit: cover;
          }

          span {
            font-size: 14px;
          }
        }

        .item {
          display: flex;
          align-items: center;
          gap: 10px;
          cursor: pointer;

          img {
            width: 30px;
          }

          span {
            font-size: 14px;
          }
        }
      }
    }
  }
}