.skeleton{
    background-color: #ddd;
    margin: 10px 0;
    border-radius: 4px;
}
.text{
    width: 100%;
    height: 12px;
}

.title{
    width: 50%;
    height: 20px;
    margin-bottom: 15px;
}

.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.thumbnail {
    width: 100px;
    height: 100px;
    
}