.chatListComponent{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    .chatListSearch{
        width: 100%;
        height: 10%;
        background-color:black;
        display: flex;
        align-items: center;
        justify-content: center; 
    }
    .chatLists{
        width: 100%;
        height: 90%;
        background-color: azure;
    }
}