.chatsPage{
    width: 100%;
    background-color: white;
    height: calc(100vh - 71px); 
    display: flex; 
    align-items: center;
    justify-content: center;
    .chatBox{
        width: 60%;
        height: 95%;
        display: flex;
        border: 1px solid black;
        .chatList{
            width: 40%;
            height: 100%;
            background-color: rgb(186, 22, 22);
        }
        .singleChat{
            width: 60%;
            height: 100%;
            background-color: aqua;
        }
    }
}