$themes:(
  light:(
    textColor: #000,
    bg:white,
    logo:#fdc53e,
    bgsoft:#f6f3f3,
    textColorSoft:#555,
    border:lightgrey,
    superNova : #fbc40e,
    dain : #55619f,
    rhino : #343f71,
    twilite : #e9d8e4,
    pomegranate : #f34c19,
    fontFam : 'Poppins',
    luxuryBg : #d8c277
  ),
  dark:(
    textColor: whitesmoke,
    bg:#222,
    logo:#fdc53e,
    bgsoft:#333,
    textColorSoft:lightgrey,
    border:#444,
    luxury: #1b1e23
  )

);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), "#{$key}");
        $theme-map: map-merge(
          $theme-map,
          (
            $key: $value,
          )
        ) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}


@mixin mobile {
  @media (max-width:480px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width:960px) { 
    @content;
  }
}

body{
  // font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-family: 'Poppins', sans-serif;
}
